* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(Assets/bg2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    font-family: 'Artifika', serif;
    background-color: #000033;
    min-width: 100%;
    height: 80px;
    align-items: center;
}

header img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: auto;
    height: 100%;
}

#navigation {
    position: fixed;
    right: 10px;
    top: 15px;
}

#navigation li {
    font-family: 'Inknut Antiqua', serif;
    color: #fff;
    font-style: italic;
    display: inline-block;
    border: 2px solid #000099;
    background: #003399;
    margin: 5px 3px;
    padding: 0px 5px;
    }

#Site-title {
    color: white;
    padding: 20px 40px;
}


